* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e7d4c1;
  color: #443e37;
  font-family: "Frank Ruhl Libre", serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: #fff3e6;
}

form input {
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

form button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
form button {
  color: #443e37;
  background: #fff3e6;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #443e37;
  color: #fff3e6;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: #fff3e6;
  color: #443e37;
  font-size: 1.5rem;
  font-family: "Cutive Mono";
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #ff6f47;
  color: #443e37;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background: #a1e4a1;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateX(8rem);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #443e37;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}

.select::after {
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  content: "\25BC";
  color: #fff3e6;
  position: absolute;
  background: #443e37;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover::after {
  background: #8f7d69;
  color: #443e37;
}

select.filter-todo {
  color: #443e37;
  border-radius: 10px;
  background: #fff3e6;
}
